header {
  width: 70%;
  height: 70%;
  background: #000000;
  margin: auto;
  position: relative;
  /* display: flex; */
}

.corona {
  width: 20%;
  margin: auto;
  margin-top: 20px;

}

.logo {
  width: 50%;
  margin:auto;
}
.buttons {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.button {
  /* width: 20%; */
  height: 70px;
  background: #000000;
  flex: 1;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  /* float: left;
  margin: 5%; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #0000FF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-family: titling-gothic-fb-narrow, sans-serif;
  font-size: 60pt;
  font-weight: 800;
  font-style: normal;
  color: #FFFFFF;
}

h2 {
  font-family: titling-gothic-fb-skyline, sans-serif;
  font-size: 60pt;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}

h3 {
  font-size: 30pt;
  font-family: helvetica;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
}

h4 {
  font-size: 20pt;
  font-family: helvetica;
  font-weight: normal;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  font-size: 12pt;
  font-family: serif;
  font-weight: normal;
  color: #FFFFFF;
}

body{
  background-color: #000000;
}
