h1 {
  font-family: titling-gothic-fb-narrow, sans-serif;
  font-size: 60pt;
  font-weight: 800;
  font-style: normal;
  color: #FFFFFF;
}

h2 {
  font-family: titling-gothic-fb-skyline, sans-serif;
  font-size: 60pt;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}

h3 {
  font-size: 30pt;
  font-family: helvetica;
  font-weight: bold;
  color: #FFFFFF;
}

h4 {
  font-size: 25pt;
  font-family: helvetica;
  font-weight: normal;
  color: #FFFFFF;
}

p {
  font-size: 12pt;
  font-family: serif;
  font-weight: normal;
  color: #FFFFFF;
}

body{
  background-color: #000000;
}
